@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  font-size: 16px;
  --roboto: "Roboto";
}

html {
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #fdfcfb;
  width: 100vw;
}

svg {
  height: clamp(1rem, 2.2vh, 3rem);
  width: clamp(1rem, 2.2vw, 2rem);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
}
.main-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quick-links {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #17558f;
  padding: 0.6rem 0;
}

.quick-links > * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.8rem 1rem;
  border: none;
  background-color: inherit;
  transition: all 0.1s ease-in-out;
  font-size: clamp(.5rem, 1vw, 1rem);
}

.quick-links > * a:link,
.quick-links > * a:visited {
  color: white;
  text-decoration: none;
}

.quick-links > *:hover {
  background-color: black;
  border-radius: 0.4rem;
}

.apply-button {
  position: relative;
}
.apply-button::after {
  content: "";
  background-color: aliceblue;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0%;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2px;
}

.apply-button:hover::after {
  width: 100%;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  max-height: 20rem;
  width: 98%;
  margin: 3rem;
  border-radius: min(1rem, 8%);
  z-index: -1;
}

.site-logo div h2 {
  color: #17558f;
  font-weight: var(--roboto);
  font-weight: 900;
  font-size: clamp(4px, 4vw, 4rem);
}

.site-logo div p {
  color: red;
  font-weight: 600;
  font-size: clamp(1px, 1.2vw, 2rem);
}

.site-logo img {
  object-fit:contain;
  object-position: center;
  width: 16%;
  height: 100%;
}

/*Nav Bar*/

.nav-bar {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 3rem;
  border-radius: clamp(0.2rem, 1.2vw, 3rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.173);
}

.nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000;
  width: 100%;
  height: 100%;
}

.nav-bar ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.1rem;
  height: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: clamp(.6rem, 1vw, 1.4rem);
}

.nav-bar ul li a:link,
.nav-bar ul li a:visited {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.has-dropdown {
  position: relative;
}

.has-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 102%;
  width: fit-content;
  box-shadow: 0 0 8px #00000030;
  color: white;
  border-radius: 0.2rem;
  padding: 2rem 1rem;
  flex-direction: column;
  height: fit-content;
  background-color: #17558f;
  transition: opacity 0.2s ease-in;
  gap: 1rem;
}

.has-dropdown:hover .dropdown {
  display: flex;
  z-index: 100;
  opacity: 1;
}

.has-dropdown .dropdown li {
  padding: 0.5rem 1rem;
  text-align: start;
  white-space: nowrap;
  text-wrap: nowrap;
  width: 100%;
  display: block;
  z-index: 100;
}

.has-dropdown .dropdown li a:link,
.has-dropdown .dropdown li a:visited {
  color: #fff;
  font-weight: 500;
  z-index: 100;
  position: relative;
}
.has-dropdown .dropdown li a::after {
  z-index: 100;
  content: "";
  background-color: white;
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 1px;
  width: 5%;
  transition: width 0.3s ease-in-out;
  margin-bottom: 2px;
}

.has-dropdown .dropdown li a:hover::after {
  width: 100%;
}
